/*
Styles the input field box
*/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

/*
Styles the font and display of the text entered by user
*/
.userInput{
    font-size : 1.75em;
    padding: 4px;
    display: incline-block;
    width: 25%;
}

